.form {
    margin-top: 2rem;
}

.form__subtitle {
    font-size: var(--fonte-tamanho-form-fieldset);

    margin-bottom: 1rem;
}

.input-container {
    font-weight: var(--font-weight-input);
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
}

.input {
    box-sizing: border-box;
    border-bottom: 1px solid var(--color-secondary);
    padding: 1.375rem 0.5rem 0.5rem;
    height: 3.25rem;
    width: 100%;
}

.input::placeholder {
    visibility: hidden;
    color: #ffffff00;
}

.input:focus {
    outline: none;
}

.input-label {
    position: absolute;
    top: 1.375rem;
    left: 0.5rem;
    font-size: var(--font-size-input-label);

    transition: all .25s;
}

.input:not(:placeholder-shown) + .input-label, .input:focus + .input-label {
    font-size: 0.875rem;
    top: 0.25rem;
    transition: all .25s;
}

.input-container--invalid {
    margin-bottom: 0.5rem;
}

.input-container--invalid .input {
    border: 1px solid var(--cor-aviso);
}

.input-container--invalid .input-label {
    color: var(--cor-aviso);
}

.input-error-message {
    display: none;
}

.input-container--invalid .input-error-message {
    color: var(--cor-aviso);
    display: block;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
}

.textarea {
    box-sizing: border-box;
    border: 1px solid var(--color-secondary);
    padding: 0.5rem;    
    width: 100%;
    min-height: 3rem;
}

.textarea-container {
    position: relative;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: var(--font-weight-input);
}

.textarea::placeholder {
    visibility: hidden;
}

.textarea:focus {
    outline: none;
}

.textarea-label {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    font-size: var(--font-size-input-label);
    transition: all 0.25s;
}

.textarea:not(:placeholder-shown) + .textarea-label, .textarea:focus + .textarea-label {
    font-size: 0.875rem;
    top: -1.25rem;
    transition: all 0.25s;
}

.textarea-container--invalid {
    margin-bottom: 0.5rem;
}

.textarea-container--invalid .textarea {
    border: 1px solid var(--cor-aviso);
}

.textarea-container--invalid .textarea-label {
    color: var(--cor-aviso);
}

.textarea-error-message {
    display: none;
}

.textarea-container--invalido .textarea-error-message {
    display: block;
    color: var(--cor-aviso);
    margin-top: 0.5rem;
    padding-left: 0.5rem;
}
