
.header {
    background-color: var(--color-contrast-light);
    box-shadow: var(--shadow);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    height: 4.75rem;
}

.menu-hamburguer {
    width: 1.5rem;
    height: .75rem;
    transition: .2s;
}

.menu-hamburguer--ativo .menu-hamburguer__icon {
    transform: rotate(90deg);
    transition: .2s;
}

.menu-hamburguer__icon {
    display: block;
    width: 100%;
    height: 100%;
    background-size: contain;
}

.header__logo {
    width: 3rem;
}

.header__title {
    font-family: var(--font-family-logo);
    font-size: var(--font-size-logo);
    margin-left: .5rem;
}

.menu-header-background {
    background-color: #00000020;
    position: fixed;
    top: 0;
    left: -100vw;
    width: 100vw;
    height: 100vh;
}

.menu-header {
    position: fixed;
    left: -100vw;
    top: 0;
    background-color: var(--color-contrast-light);
    width: 70vw;
    height: 100vh;
    box-sizing: border-box;
    font-size: var(--fonte-tamanho-menu-header-item);
    font-weight: var(--fonte-peso-menu-header-item);
    z-index: 10;
    transition: .25s;
}

.menu-header__close {
    position: absolute;
    right: -2.5rem;
    top: .5rem;
    color: var(--color-contrast-light);
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: var(--color-primary);
}

.menu-header__close::before {
    content: 'X';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.menu-item {
    
    display: block;
    padding-top: 1.5rem;
    padding-left: 1rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--color-division);
}

.menu-item--purple {
    border-radius: 0.5px;
    background-color: var(--color-primary);
    color: var(--color-contrast-light);
    border: none;
    float: right;
}

.menu-item--green {
    background-color: var(--color-secondary);
    color: var(--color-contrast-light);
    border: none;
    float: left;
}

.menu-header--active {
    left: 0;
    top: 0;
    transition: .25s;
}

.menu-header--active + .menu-header-background {
    left: 0;
}

@media(min-width: 900px) {
    .header {
        grid-template-areas: "menu logo .";
        height: 6.75rem;
    }

    .header-container {
        grid-area: logo;
    }

    .menu-hamburguer {
        display: none;
    }

    .menu-header {
        justify-self: flex-start;
        position: static;
        width: fit-content;
        height: fit-content;
        grid-area: menu;
    }

    .menu-header__fechar {
        display: none;
    }
    
    .menu-header-background {
        display: none;
    }

    .menu-itens {
        display: flex;
        align-items: center;
    }

    .menu-form {

        display: block;
        align-items: center;
              
    }

    .menu-item {
        border: none;
        padding: 0;
        margin-right: 1rem;
    }

    .menu-item--green {
        border-radius: 2rem;
        padding: 1rem 1.5rem;
    }

    .menu-item--purple {
        border-radius: 2rem;
        padding: 1rem 1.5rem;
    }
}
